<h1>Volunteer Tracker</h1>

<h2>Current Projects:</h2>
<ul>
  <% @projects.each do |projects| %>
  <li><a href="projects/<%= project.id %>"><%= project.title %></a></li>
  <% end %>
</ul>

<h2>Add a new project:</h2>

<form action="/" method="post">
  <div class="form-group">
    <label for="title">Project Title</label>
    <input type="text" name="title" class="form-control">
  </div>
    <button type="button" name="button"></button>
</form>
