<h1>Volunteer Tracker</h1>

<h2>Current Projects:</h2>
<% if @projects.any? %>
<ul>
  <% @projects.each do |project| %>
  <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
  <% end %>
</ul>
<% else %>
<p>No projects</p>
<% end %>
<h2>Add a new project:</h2>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Project Title</label>
    <input type="text" name="title" class="form-control">
  </div>
    <button type="submit" class="btn">Create project</button>
</form>
